<div>
	<app-life-counter [lives]=player.lives></app-life-counter>
</div>
<div class="container">
	<div class="map-container">
		<div class="map">
			<app-map-usa-states (newItemEvent)="player.getAnswer($event)"></app-map-usa-states>
		</div>
	</div>
	<div class="question-container">
		<h2>Bonjour, vous allez devoir trouver 10 états des états-unis. Attention, vous n'avez le droit qu'à 3 erreurs.</h2>
		<div *ngIf="!player.gameOver">
			{{ player.counter }} -> Trouver l'état dont le nom est {{ player.valueToFind.name }}.
		</div>
		<div class="answer">
			<app-bad-answer *ngIf="player.badAnswer"></app-bad-answer>
			<app-good-answer *ngIf="player.goodAnswer"></app-good-answer>
			<app-game-over *ngIf="player.gameOver" [numberOfLife]="player.lives" (startNewGame)="player.startNewGame(this)"></app-game-over>
		</div>
	</div>
</div>


