.container {
	display: flex;

	@media (max-width: 1025px) { 
		display: flex;
		flex-direction: column;
	}

	.map-container, .question-container {
		width: 50%;

		@media (max-width: 1025px) { 
			width: 100%;
		}
	}

	.map-container {
		display: flex;
		justify-content: center;

		@media (max-width: 1025px) { 
			order: 2;
		}

		.map {
			width: 80%;
			margin-top: 1.5em;
		}

	}

	.question-container {

		@media (max-width: 1025px) { 
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			order: 1;
		}

		@media (max-width: 400px) { 
			width: 95%;
		}

		h2 {
			@media (max-width: 400px) { 
				font-size: 14px;
				line-height: 100%;
			}
		}
		.answer {
			display: flex;
			justify-content: center;
			margin-top: 4em;
		}
	}
	
}