<div>
	<p class="game-over-win" *ngIf="winner">
		<span >Vous avez gagné ! Bravo.</span>
	</p>
	<p class="game-over-loose" *ngIf="!winner">
		<span >Vous avez perdu ! Dommage.</span>
	</p>
</div>
<div class="button-container">
	<button mat-raised-button color="primary" (click)="startNewGameFunction()">Recommencer une partie</button>
</div>

