@import '../../scss/answer.scss';
$color-loose: red;
$color-win: green;

.game-over-win {
	span {
		@include answer($color-win);
	}
}

.game-over-loose {
	span {
		@include answer($color-loose);
	}
}

.button-container {
	display: flex;
	justify-content: center;

	button {
		margin-top: 2em;
	}
}