<div>
	<app-life-counter [lives]=player.lives></app-life-counter>
</div>
<div class="container">
	<div class="map-container">
		<div class="map">
			<app-map-france-department (newItemEvent)="player.getAnswer($event)"></app-map-france-department>
		</div>
	</div>
	<div class="question-container">
		<h2>Bonjour, vous allez devoir trouver 10 départements. Attention, vous n'avez le droit qu'à 3 erreurs.</h2>
		<div *ngIf="!player.gameOver">
			{{ player.counter }} -> Trouver le département {{ player.valueToFind.id }} - {{ player.valueToFind.name }}.
		</div>
		<div class="answer">
			<app-bad-answer *ngIf="player.badAnswer"></app-bad-answer>
			<app-good-answer *ngIf="player.goodAnswer"></app-good-answer>
			<app-game-over *ngIf="player.gameOver" [numberOfLife]="player.lives" (startNewGame)="player.startNewGame(this)"></app-game-over>
		</div>
	</div>
</div>

