.container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin-top: 5%;

	h1 {
		font-weight: bold;
	}

	img {
		margin-bottom: 2em;
		@media (max-width: 700px) { 
			width: 50%;
			height: 50%;
		}

	}
}
