<mat-toolbar color="primary">
	<span class="title">
		GeoQuiz
	</span>
	<span class="menu-map">
		<button mat-button [matMenuTriggerFor]="maps">Cartes</button>
		<mat-menu #maps="matMenu">
				<button mat-menu-item [matMenuTriggerFor]="france">France</button>
				<button mat-menu-item [matMenuTriggerFor]="usa">Etats-unis</button>
		</mat-menu>

		<mat-menu #france="matMenu">
				<button mat-menu-item routerLink="departments">Départements</button>
				<button mat-menu-item routerLink="prefecture">Préfectures</button>
				<button mat-menu-item routerLink="regions">Régions</button>
		</mat-menu>

		<mat-menu #usa="matMenu">
			<button mat-menu-item routerLink="usaStates">Etats</button>
	</mat-menu>

	</span>
</mat-toolbar>
